@import url("presets.css");

/* Header da Página */
.page-header {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

/* Banner do Topo  */
.top-banner {
  width: 100%;
}

/* Infocard do Topo */
.top-infocard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 66px 0 188px;
}
.top-infocard-text {
  max-width: 766px;
  text-align: center;
}
.top-infocard-subtitle {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
}
.top-infocard-title {
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.top-infocard-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 66px;
}
.top-infocard-image {
  max-width: 315px;
}

/* Cards do Topo */
.top-cards {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  justify-content: center;
  padding: 0 0 80px;
}
.top-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  padding: 36px 26px 26px 26px;
}
.top-card-image {
  margin-bottom: 26px;
}
.top-card-description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  max-width: 300px;
}

/* Imagens do Meio da Página */
.banner-middle{
  background-color: #E0E0E0;
  width: 100%;
}
.banner-middle-wrapper{
  position: relative;
  top: 60px;
}
.banner-middle-desktop{
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 32px;
}
.banner-middle-mobile{
  display: grid;
  grid-template-areas: 
  "banner-middle-image-01 banner-middle-image-02"
  "banner-middle-image-03 banner-middle-image-03";
  justify-content: center;
  justify-items: center;
  column-gap: 14px;
  row-gap: 22px;
}
.banner-middle-image-01{
  grid-area: banner-middle-image-01;
}
.banner-middle-image-02{
  grid-area: banner-middle-image-02;
}
.banner-middle-image-03{
  grid-area: banner-middle-image-03;
}

/* Cards de Baixo */
.bottom-cards{
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 16px;
  justify-content: center;
  padding: 280px 0 138px;
}
.bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  padding: 36px 32px 66px;
}
.bottom-card-image {
  margin-bottom: 14px;
}
.bottom-card-description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  max-width: 368px;
}

/* Infocard de Baixo */
.bottom-infocard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 104px;
}
.bottom-infocard-text {
  max-width: 550px;
  text-align: center;
}
.bottom-infocard-title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 18px;
}
.bottom-infocard-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

/* Footer da Página */
.page-footer{
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer-icons{
  display: flex;
  padding: 38px 0 0;
}
.page-footer-link{
  display: flex;
  align-items: center;
}
.page-footer-icon{
  padding: 0 8px 0;
}
.page-footer-description{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #BDBDBD;
  padding: 16px 0 38px;
  text-align: center;
}

/* Medias Screen */
@media screen and (min-width: 1200px) and (max-width: 1750px) {
  .banner-middle-desktop{
    grid-template-columns: repeat(3, 30%);
    row-gap: 22px;
  }
  .bottom-cards {
    grid-template-columns: repeat(2, max-content);
  }
}
@media screen and (min-width: 1000px) {
  .bottom-infocard-image-desktop{
    display: block;
  }
  .bottom-infocard-image-mobile{
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .bottom-infocard{
    flex-direction: column-reverse;
  }
  .bottom-infocard-text{
    padding: 50px 0 0;
    max-width: 350px;
  }
  .bottom-infocard-title{
    font-size: 24px;
  }
  .bottom-infocard-image-desktop{
    display: none;
  }
  .bottom-infocard-image-mobile{
    display: block;
    padding: 80px 0 0;
  }
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .top-infocard-text {
    max-width: 600px;
  }
}
@media screen and (max-width: 992px) {
  .top-infocard {
    padding: 84px 0 80px;
  }
  .top-infocard-text {
    max-width: 358px;
  }
  .top-infocard-subtitle {
    font-size: 20px;
  }
  .top-infocard-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .top-infocard-description {
    text-align: inherit;
  }
  .top-infocard-image {
    width: 100%;
    max-width: 240px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top-cards {
    grid-template-columns: repeat(2, max-content);
  }
  .bottom-cards {
    grid-template-columns: repeat(2, max-content);
  }
  .bottom-card-description{
    max-width: 302px;
  }
}
@media screen and (min-width: 769px){
  .banner-middle-mobile{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .top-cards {
    grid-template-columns: 1fr;
    padding: 32px 24px;
  }
  .bottom-cards {
    grid-template-columns: 1fr;
    padding: 202px 32px 24px;
  }
  .bottom-card-description{
    max-width: 302px;
  }
  .banner-middle-wrapper{
    bottom: -120px;
  }
  .page-footer-description{
    max-width: 260px;
  }
}
@media screen and (min-width: 570px){
  .banner-middle-mobile{
    display: none;
  }
}
@media screen and (max-width: 569px){
  .banner-middle-desktop{
    display: none;
  }
}
@media screen and (min-width: 415px) and (max-width: 1200px) {
  .banner-middle-desktop{
    grid-template-columns: repeat(2, 46%);
    row-gap: 20px;
  }
}
@media screen and (min-width: 415px) {
  .top-banner-mobile {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  .top-banner-desktop {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .banner-middle-mobile{
    grid-template-areas: 
    "banner-middle-image-01"
    "banner-middle-image-02"
    "banner-middle-image-03";
  }
}